@charset "utf-8";

legend {
	font-size:100%;
	font-weight:bold;
}
.bg_red {
	background-color:#faa;
}
.centrera {
	text-align:center;
}
footer.blogg {
	font-size:0.8em;
}
.blogcategories {
	width:180px;
	float:left;
	margin:10px 15px 10px 30px;
	border:1px black solid;
	padding:0px;
	
}

aside .categorymenu {
	background-color:black;
	color:white;
	padding:5px 10px 5px 10px;
	margin:-16px 0px 0px 0px;
}
div .blogcontent {
	width:720px;
	float:left;
	border-right:1px black solid;
	padding-right:30px;
}
aside a {
	font-weight:bold;
}
aside .categorylinks {
	padding:10px;
}
.clearAll {
	clear:both;
}
.smallest {
	font-size:60%;
	padding-top:5px;
}
h1{
 border:none;
 padding:0px;
 margin:10px 0px;
}
article {
	border-bottom:1px solid black;
	padding-bottom:10px;
}
.right {
	text-align:right;
}